@import "src/styles/base/variables";

.card {
  display: flex;
  margin-top: 8px;
  background-color: rgba($grey-color, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: $padding-md;
  border-radius: 8px;
  cursor: pointer;
  max-height: 40px;

  img {
    width: 25px;
    height: 25px;
  }

  .card_center {
    display: flex;
    max-width: 70%;
    position: relative;
    p {
      color: $red-color;
      position: absolute;
      left: -20px;
      font-size: $font-size-h1;
    }

    h5 {
    }
  }
}

.clicked {
  color: $white-color;
  background: $blue-color;

  p {
    color: $white-color;
  }
}







