// font-size

$font-size-h1: 36px;
$font-size-p: 16px;

//padding

$padding-sx: 4px;
$padding-md: 8px;
$padding-xl: 16px;
$padding-xlL: 32px;

//colors

$white-color: #fff;
$grey-color: gray;
$light-blue: #3592bb;
$blue-color: #4242be;
$black-color: #000;
$red-color: red;